.Item {
    /* border: 1px solid lightgrey; */
    border-radius: 2px;
    padding: 8px, 8px;
    margin: 5px 5px;
    width: 10vw;
    height: auto;
    cursor: pointer;
}
/* @media (max-width: 600px) {
    .Item{
        width: 70px;
        height: auto;
    }
} */