.Nav {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}
.Nav li{
    /* margin:  0 10px; */
    box-sizing: border-box;
    display: block;
    width: 100%;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
}
.Nav a {
    text-decoration: none;
    color: rgb(82, 80, 80);
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.Nav a:hover{
    text-decoration: none;
    color: rgb(15, 14, 14);
}
.Nav a:active,
.Nav a.active {
    text-decoration: none;
    color: rgb(2, 139, 163);
}

@media (min-width: 500px) {
    .Nav {
        flex-flow: row;
    }
    .Nav li{
        list-style: none;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold;
        font-size: 1.2rem;

        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .Nav a {
        text-decoration: none;
        color: rgb(82, 80, 80);
    }
    .Nav a:hover{
        color: rgb(15, 14, 14);
    }
    .Nav a:active,
    .Nav a.active {
        color: rgb(2, 139, 163);
    }
}