.Auth {
    margin:  auto;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}

.Control {
    padding-bottom: 5vh;
    text-align: left;
}