.Magnifier {
    border: none;
    width: 1px;
    height: 1px;
  margin-top: 20px;
  margin-left: 20px;
    
}
.Magnifier:focus{
    outline: none;
}
.Magnifier img{
    width: 50px;
    height: auto;

}