.DropMenuToggle {
    width: 40px;
    height: 75%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 9px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DropMenuToggle div {
    width: 80%;
    height: 3px;
    background-color: grey;
}

@media (min-width: 600px) {
    .DropMenuToggle {
        display: none;
    }
}