.Button {
    padding: 10px 16px;
    margin: 2px;
    font-weight: bold;
    font-size: 1em;
    color: rgb(68, 67, 67);
    cursor: pointer;
    background-color: rgb(141, 216, 226);
    border: none;
    margin-top: 20px;
}
.Button:hover{
    background-color: rgb(44, 158, 173);
    color: white;
}
