.fileImage {
    width: 20vw;
}
@media(max-width: 770px) {
 .fileImage {
    width: 40vw;
    }
}
/* .label {
    width: "110px";
    text-align: "left";
    font-weight: bold;
} */
#oc-alert-container{
    color: rgb(60, 145, 241);
    font-weight: bold;
    margin-top: 1rem;
}