/* .Items{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0px 0px;
    margin : 0 20px;
} */
.carousel{
    margin: auto;
    border-left : solid 3px lightgrey;
    border-right : solid 3px lightgrey;
    padding: 0 10px;
    width: 85%;

}
@media (max-width: 600px) {
    .carousel{
        width: 95%;
        border: none;
    }
}
