.Items{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0px 0px;
    margin : 0 20px;
   

}

.carousel{
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}


